@page "/tickets"
@using Helpdesk.Web.Services;
@using Helpdesk.Web.Dtos;
@using Helpdesk.Web.Components;
@using Helpdesk.Web.Models;
@using Microsoft.AspNetCore.Authorization;

@inject ITicketService ticketService;
@inject IDialogService dialogService;
@inject ISnackbar snackbar;
@inject NavigationManager navigationManager;

@attribute [Authorize]
<h3>Tickets</h3>

<MudTable T="TicketDto" Items="tickets ?? []" Hover="true" Bordered="true" Loading="tickets is null" OnRowClick="SelectedRow" >
    <ToolBarContent>
        <MudText Typo="Typo.h6">Lista de Tickets</MudText>
        <MudSpacer/>
        <MudButton 
            Variant="Variant.Filled" 
            Color="Color.Primary" 
            StartIcon="@Icons.Material.Filled.Add"
            OnClick="OpenDialogAsync">
            Nuevo Ticket
        </MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.Id)">ID</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.Titulo)">Titulo</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.Descripcion)">Descripcion</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.FechaCreacion)">Fecha de Creacion</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.NombreCreador)">Autor</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.NombreAgente)">Asignado a</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TicketDto, object>(x => x.Estado)">Estado</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate >
        <MudTd DataLabel="ID">@context.Id</MudTd>
        <MudTd DataLabel="Titulo">@context.Titulo</MudTd>
        <MudTd DataLabel="Descripcion">@context.Descripcion</MudTd>
        <MudTd DataLabel="Fecha de Creacion">@context.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</MudTd>
        <MudTd DataLabel="Autor">@context.NombreCreador</MudTd>
        <MudTd DataLabel="Asignado a">@(context.NombreAgente ?? "Sin asignar")</MudTd>
        <MudTd DataLabel="Estado">
                <MudChip T="EstadoTicket">@context.Estado</MudChip>
        </MudTd>   
        <MudTd @onclick:stopPropagation="true">
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
            Color="Color.Secondary"
            OnClick="@(() => ShowUpdateDialogAsync(context))"/>
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
            Color="Color.Error"
            OnClick="@(() => ShowDeleteDialogAsync(context.Id))" />
        </MudTd>
    </RowTemplate>
    <PagerContent> 
        <MudTablePager PageSizeOptions="new int[] {5, 10, 25}"/>
    </PagerContent>
</MudTable>

@code {
    private TicketDto[]? tickets;


    protected override async Task OnInitializedAsync()
    {
        tickets = await ticketService.GetTicketsAsync();   
    }

    private async Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await dialogService.ShowAsync<CrearTicketDialog>("Nuevo Ticket", options);

        var result = await dialog.Result;
        if (result?.Data is TicketDto nuevo)
        {
            tickets = tickets?.Append(nuevo).ToArray();
        }
    }

    private async Task ShowDeleteDialogAsync(int id)
    {
        bool? result = await dialogService.ShowMessageBoxAsync(
        title: "Atencion!",
        message: "Esta seguro que quiere borrar el ticket?",
        yesText: "Borrar",
        cancelText: "Cancel"
        );

        if (result == true)
        {
            var ok = await ticketService.DeleteTicketAsync(id);
            if (ok == true) 
            { 
                tickets = tickets?.Where(t => t.Id != id).ToArray(); 
            } 
            else 
            { 
                snackbar.Add("No se pudo eliminar el ticket", Severity.Error);
            }

        }
    }

    private async Task ShowUpdateDialogAsync(TicketDto ticketAEditar)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<PutTicketDialog> { { x => x.ticket, ticketAEditar } };
        var dialog = await dialogService.ShowAsync<PutTicketDialog>("Editar ticket", parameters, options);

        var result = await dialog.Result;
        if (result?.Data is TicketDto edit)
        {
            tickets = tickets?.Select(t => t.Id == edit.Id ? edit : t).ToArray();
        }

    }

    //Redirect a la pagina del detalle
    private void SelectedRow(TableRowClickEventArgs<TicketDto> e)
    {
        navigationManager.NavigateTo($"/tickets/{e.Item!.Id}");
    }

    //Muestro el dialogo de asignar agente
    private async Task ShowAssignDialogAsync(TicketDto ticketAAsignar)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<AsignarAgenteDialog> { { x => x.ticket, ticketAAsignar } };
        var dialog = await dialogService.ShowAsync<AsignarAgenteDialog>("Asignar agente", parameters, options);

        await dialog.Result;
        
    }

}
            